Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Spark       |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples
Add a line in this cell with H3 style heading with text like:

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [3]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
- List popular languages for Data Science
-